<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vg.airlinelistapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TravelHomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".helper.HelperActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".airlines.service.FetchAirlineListIntentService"
            android:exported="false" />

        <activity android:name=".AirlineDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vg.airlinelistapplication.TravelHomeActivity" />
        </activity>
    </application>

</manifest>
